section.secCard.secWeather
  h2.secCard_ttl WEATHER
  .textContainer
    .textContainer_inner
      h3.textContainer_ttl なんちゃらなんちゃらAPI
      p Reprehenderit veniam tempor aliquip veniam elit in occaecat irure ipsum deserunt ut esse eu deserunt. Veniam velit nulla do consequat anim ea in occaecat. Incididunt laborum Lorem sunt ut sit reprehenderit sit quis commodo eiusmod. Mollit sunt excepteur cillum elit labore ut irure. Culpa magna occaecat amet dolore. Ipsum tempor sint laborum nulla do laboris eiusmod do enim. Irure irure tempor magna aute voluptate.
      p Ex occaecat ullamco ullamco id nulla. In amet tempor Lorem officia. Nostrud in culpa ex ea laboris laborum Lorem elit eu non ad aliqua proident sit. Reprehenderit nostrud velit laboris commodo irure esse culpa. Anim irure adipisicing aliquip ullamco non amet eiusmod sint enim reprehenderit nostrud ad. Qui do duis ullamco et est reprehenderit fugiat ullamco cillum nisi.
      div.btn.modalTrigger: span.btn_txt MORE
        .modalContent
          p モーダルの中身
  .apiContainer
    .apiContainer_inner
      p ここにAPIそれぞれの内容
