// Fonts
$baseFontFamily: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka,
  "游ゴシック", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
  "MS PGothic", sans-serif;

// Colors
$colorText: #333;
$color01: #efe;
$color02: #f8fef8;
$color03: #ee0;
