header.header#header
  .logo
    a(href="/")
      img(src="/assets/images/_samples/logo.svg", alt="SAMPLE LOGO")
  .gnavContainer#gnavContainer
    .gnavBtn#gnavBtn
      span.gnavBtn_line
    nav.gnav#gnav
      ul.gnavList
        li: a(href="#secAccordion") PAGE1
        li: a(href="#") PAGE2
        li: a(href="#") PAGE3
        li: a(href="#") PAGE4
        li: a(href="#") PAGE5
        li: a(href="#") PAGE6
        li: a(href="#") PAGE7
        li: a(href="#") PAGE8
        li: a(href="#") PAGE9
        li: a(href="#") PAGE10
