@use "../abstracts" as *;

* {
  box-sizing: border-box;
  scroll-margin-top: var(--header-height);
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

html,
body {
  text-size-adjust: 100%;
}

html {
  --header-height: 0px;
  font-size: 62.5%;
}

body {
  width: 100%;
  font-family: $baseFontFamily;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  color: $colorText;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
}

p {
  line-height: 1.5;
  letter-spacing: 0.05em;
  + p {
    margin-top: 1em;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  color: $colorText;
  text-decoration: none;
  transition: 0.3s;
}

input,
button,
select,
textarea {
  font: inherit;
  background: transparent;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea {
  resize: vertical;
}
input[type="checkbox"],
input[type="radio"] {
  display: none;
}
input[type="submit"],
input[type="button"],
label,
button,
select {
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

input[disabled],
button[disabled] {
  opacity: 0.3;
}
