@use "../abstracts" as *;

* {
  box-sizing: border-box;
  scroll-margin-top: var(--header-height);
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

html,
body {
  text-size-adjust: 100%;
}

html {
  --header-height: 0px;
  font-size: 62.5%;
}

body {
  width: 100%;
  font-family: $baseFontFamily;
  font-size: 1.6rem;
  line-height: 1;
  color: $colorText;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
}

p {
  line-height: 1.5;
  letter-spacing: 0.05em;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  color: $colorText;
  text-decoration: none;
  transition: 0.3s;
}
