@use "../abstracts" as *;

.btn {
  position: relative;
  z-index: 1;
  margin-top: 2em;
  a,
  .btn_txt {
    position: relative;
    display: inline-block;
    padding: 0.4em 2em;
    font-family: $fontEn;
    font-size: 1.8rem;
    cursor: pointer;
    border: 4px solid $colorText;
    transition: 0.3s;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      width: 100%;
      height: 100%;
      content: "";
      background: #fff;
      transition: 0.3s;
    }
    @include hover() {
      &::before {
        top: 0.5rem;
        left: 0.5rem;
      }
    }
  }
  &.-reversal {
    a,
    .btn_txt {
      color: #fff;
      &::before {
        background: $colorText;
      }
    }
  }
}
