@use "../abstracts" as *;

// トリガー内のモーダルコンテンツは非表示
.modalTrigger {
  .modalContent {
    display: none;
  }
}

// モーダル
.modal {
  display: none;
  &.is-open {
    display: block;
  }
  &_overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 5rem;
    overflow: hidden;
    background: rgba($colorText, 0.5);
  }
  &_container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    max-width: 1920px;
    height: 80%;
    overflow: auto;
    background: #fff;
    border: 4px solid $colorText;
    transform: translate(-50%, -50%);
    @include mq() {
      width: 90%;
      height: 90%;
    }
  }
  &_content {
    min-height: 100%;
    padding: 8rem;
    @include mq() {
      padding: 5rem 4rem;
    }
    .modalTtl {
      margin-bottom: 1em;
      font-size: 2.4rem;
      font-weight: 900;
    }
    * + .modalTtl {
      margin-top: 2em;
    }
  }
  &_closeBtn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 7rem;
    height: 7rem;
    cursor: pointer;
    @include mq() {
      width: 2.8rem;
      height: 2.8rem;
    }
    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 7rem;
      height: 0.4rem;
      content: "";
      background: $colorText;
      @include mq() {
        width: 4rem;
      }
    }
    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

.modal[aria-hidden="false"] .modal_overlay {
  animation: mmfadeIn 0.25s;
}
.modal[aria-hidden="false"] .modal_container {
  animation: mmfadeIn 0.5s;
}
.modal[aria-hidden="true"] .modal_overlay {
  animation: mmfadeOut 0.25s;
}
.modal[aria-hidden="true"] .modal_container {
  animation: mmfadeOut 0.5s;
}
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
